<html>
<head>
<style>
footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}
</style>
</head>
<body>
<style>
        h1{color:red;
        width:32;
        font-size: 1cm;
        font-style:italic;
        border:5px;}
        </style>
        <body style="background-color: aliceblue;"></body>
    <div style="background-image: url('img_girl.jpg');"></div>
    <div style= "background-color: rgb(121, 117, 124);"></div>
    <div style= "background-color: rgb(121, 117, 124);"></div>
    <div style="background-image: url('images/background.jpg');"></div>
    <div style="background-image: url('images/background.jpg');"></div>