/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}





<html>
<head>
<style>
footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}
</style>
</head>
<body>
<style>
        h1{color:red;
        width:32;
        font-size: 1cm;
        font-style:italic;
        border:5px;}
        </style>
        <body style="background-color: aliceblue;"></body>
    <div style="background-image: url('img_girl.jpg');"></div>
    <div style= "background-color: rgb(121, 117, 124);"></div>
    <div style= "background-color: rgb(121, 117, 124);"></div>
    <div style="background-image: url('images/background.jpg');"></div>
    <div style="background-image: url('images/background.jpg');"></div>
   