body
{
 background-color: rgb(197, 224, 224);
    
}
header
{
text-align: center;
}


/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}




/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  text-emphasis: em;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-emphasis: em;
  font-size: large;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}
.container {
  justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly | start | end | left | right ... + safe | unsafe;
}
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}
/* Blockquote styling */
blockquote {
  background: #e9e3e3;
  border-left: 10px solid #ccc;
  text-align: center;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}





